.container {
  position: relative;
  display: inline-block;
  width: 50%;
}

.searchField {
  padding: 10px 35px 10px 10px;
  border: 1px solid gray;
  border-radius: 1rem;
  width: 100%;
}
.searchField:focus {
  outline: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchIcon {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
}
