.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.blogContainer {
  padding: 50px 10px;
}

@media all and (min-width: 0px) and (max-width: 480px) {
  .blogContainer {
    padding: 20px 5px;
  }
}
